$black: #000;
$blue: #7ef4ff;

body{
    background-color: $black;
    &::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e5e5f7;
        opacity: .1;
        background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #e5e5f7 25%);
        background-position:  5px 0, 5px 0, 0 0, 0 0;
        background-size: 5px 5px;
        background-repeat: repeat;
        z-index: 0;
    }
}
a{
    &.link{
        border-bottom: 1px solid transparent;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        border-bottom: 1px dotted;
    }
}
#btn{
    border: 1px solid $blue;
    background-image: linear-gradient(to right bottom, #0dcaf0, #3dd5f3, #59dff7, #71eafb, #86f4ff);
    transition: all ease-in 400ms;
    &:hover{
        transition-timing-function: ease-in-out;
        box-shadow: 0 0 10px $blue;
    }
}
#wrap{
    video{
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
        opacity: .35;
    }
    form{
        z-index: 1;
        width: 420px;
        border: 1px solid $blue;
        box-shadow: 0 0 2px $blue, 0 0 50px $blue, 0 0 200px $blue;
    }
}